* {
  margin: 0;
  padding: 0;
}

/* section .container2 {
  min-height: 100vh;
} */

.find-food {
  /* background-color: rgb(89, 142, 167); */
  background-image: url(../../assets/food.jpg);
  /* background-position: center; */
  background-attachment: fixed;
  /* background-size: 100%; */
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  line-height: 45px;
  color: white;
  font-family: Arial, sans-serif;
}


#txt {
  height: 25px;
  margin-right: 10px;
  outline: none;
  border: none;
  color: teal;
  font-size: 16px;
}

#btn {
  height: 28px;
  width: 100px;
  background-color: rgb(151, 216, 216);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

#btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}

#btn:active {
  background-color: rgb(55, 165, 165);
  
}
/* .back{
  width: 100%;
  background-image: url('../../assets/7.jpg');
  filter: brightness(0.6);
  background-size: cover;
  height: 350px;
  background-attachment: fixed;
  position: relative;
} */
.container2 {
  width: 100%;
  background-image: url('../../assets/7.jpg');
  background-size: cover;
  display: flex;
  justify-content: center ;
  align-items: center;
  height: 300px;
  background-attachment: fixed;
}
.container3{
  width: 100%;
  /* background-color: rgb(151, 216, 216,0.6); */
  /* background-color: #00416A60; */
  background-color: #dce0e470;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.steps {
  
  width: 90%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #00416A; */
}
.steps .boxs{
  text-align: center;
  width: 250px;
}
