*{
    padding: 0;
    margin: 0;
}
.container{
    width: auto;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/banner.jpg);
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.bgImage{
    width: 400px;
    height: 400px;
    /* background-image: url(../../assets/2.jpg); */
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    
    /* filter: blur(1.5px); */
}
.login{
    /* padding: 100px;
    background-image: url(../../assets/2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: fill;
    border-radius: 10px; */
    position: absolute;
}
.submit2{
    height: 36px;
    width: 200px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.submit1{
    width: 200px;
    height: 36px;
    font-size: 16px;
    background-color: #E65C4F;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 15px;
}
.submit1:hover{
    filter: brightness(90%);
}
.submit1:active{
    filter: brightness(100%);
    background-color: rgb(99, 185, 185);
}