*{
  padding: 0;
  margin: 0;
}
.container{
  width: 90%;
  margin: auto;
  /* background-color: rgb(228, 225, 225); */
}
header{
  background-color: rgb(151, 216, 216);
}
.section{
  min-height: 100vh;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.doing{
  color: teal;
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
span{
  color: rgb(206, 27, 27);
}
#link{
  text-decoration: none;
  margin: 0px 35px;
  color: rgb(206, 27, 27);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
}
/* .banner{
  background-color: teal;
} */
.find-food{
  background-color: teal;
  height: 250px;
  display: flex;
  align-items: center;
  /* padding-left: 120px; */
  line-height: 45px;
  color: white;
  font-family: Arial, sans-serif;
}
#txt{
  height: 25px;
  margin-right: 10px;
  outline: none;
  border: none;
  color: teal;
  font-size: 16px;
}
#btn{
  height: 28px;
  width: 100px;
  background-color: rgb(151, 216, 216);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}
#btn:hover{
  cursor: pointer;
  filter: brightness(95%);
}
#btn:active{
  background-color: rgb(55, 165, 165);
}