.container11{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.body{
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.order1{
    text-align: center;
}
.myorder{
    margin: 20px 0px;
}
.logout{
    width: 100px;
    height: 36px;
    font-size: 16px;
    background-color: rgb(89, 142, 167);
    border: none;
    border-radius: 8px;
    color: white;

}
.logout:hover{
    filter: brightness(90%);
}
.logout:active{
    background-color: rgb(99, 185, 185);
    filter: brightness(100%);
}