*{
    box-sizing: border-box;
}
.container-name{
    width: 300px;
    height: 370px;
    border-radius: 10px;
    padding: 15px 0px 10px 10px;
    margin: 20px 5px;
}
.image{
    width: 280px;
    height: 270px;
    margin-bottom: 10px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.container-name:hover{
    box-shadow: 10px 10px 10px 15px rgba(25, 167, 167, 0.3);
}
